body {
  margin: 0;
  font-family: Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/***** notes list *****/

.notesList {
  display: flex;
  flex-wrap: wrap;
}

.notesListCard {
  width: 220px;
  height: 220px;
  margin: 30px;
  border: none;
  border-radius: 10px;
}

.addNoteBtn {
  background: #be003c;
  font-size: 40px;
  color: #fff;
}

.noteThumbnail {
  box-shadow: 2px 1px 10px #ccc;
  border: 5px #fff solid;
  padding: 10px;
  overflow: hidden;
}

.noteThumbnail .noteThumbnailContent {
  transform: scale(0.25);
  -webkit-transform-origin-x: left;
  -webkit-transform-origin-y: top;
  width: max-content;
}

.noteThumbnail:hover {
  border: 5px #be003c solid;
}

/***** note details *****/
.noteDetails .modal-content {
  height: 80vh;
}

.noteDetails .modal-content .modal-header {
  border: none;
}

.noteDetails .modal-content .modal-body {
  padding: 0 20px 20px;
}

.noteDetails svg {
  margin: 10px;
  color: #555;
}

.noteDetails svg:hover {
  color: #be003c;
  cursor: pointer;
}

.noteDetails textarea {
  height: 100%;
  border: none;
  resize: none;
}

.noteDetails textarea:focus {
  box-shadow: none;
}